<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dayana.registrando">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeNoActionBar">

        <activity
            android:name=".telas.TelaInicial"
            android:noHistory="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Activity Tela Principal -->
        <activity
            android:name=".telas.TelaPrincipal"
            android:screenOrientation="portrait">
        </activity>

        <!-- Activity Tela de Login -->
        <activity
            android:name=".telas.TelaLogin"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>

        <!-- Activity Tela de Criação do Registro de Enfermagem-->
        <activity
            android:name=".telas.TelaRegistroDeEnfermagem"
            android:screenOrientation="portrait">
        </activity>

        <!-- Activity Tela de Informações Técnicas-->
        <activity
            android:name=".telas.TelaInfoTecnica"
            android:screenOrientation="portrait">
        </activity>

        <!-- Activity Tela de Validação do Registro-->
        <activity
            android:name=".telas.TelaValidarRegistro"
            android:screenOrientation="portrait">
        </activity>

        <!-- Activity Estudos de Caso -->
        <activity
            android:name=".telas.TelaEstudoDeCaso"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".telas.estudos_de_caso.CasoUm"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".telas.estudos_de_caso.CasoDois"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".telas.estudos_de_caso.CasoTres"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".telas.estudos_de_caso.CasoQuatro"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".telas.estudos_de_caso.CasoCinco"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".telas.estudos_de_caso.CasoSeis"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".telas.estudos_de_caso.CasoSete"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".telas.estudos_de_caso.CasoOito"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".telas.estudos_de_caso.CasoNove"
            android:screenOrientation="portrait">
        </activity>


    </application>

</manifest>
